/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #2564B8,
  blue: #2564B8,
  red: #F04324,
  black: #000000,
  white: #ffffff,
  purple: #6A2280,
  yellow: #F3CB17,
  pink: #E73685
);

$grid-gutter: 50px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
