footer.content-info{
    background: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter;
    text-align: center;

    h3{
        color: theme-color(yellow);
        text-transform: uppercase;
        font-weight: 600;
        margin: $grid-gutter 0 $grid-gutter / 2;
    }

    a{
        color: theme-color(white);
        text-decoration: underline;

        &:hover{
            color: theme-color(yellow);
        }
    }
}

#partners{
    .wrap{
        display: flex;
        justify-content: center;

        img{
            width: 200px;
            margin: 0 $grid-gutter;
        }
    }
}