footer.content-info{
    background: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter 0;
    text-align: center;

    h3{
        color: theme-color(yellow);
        text-transform: uppercase;
        font-weight: 600;
        margin: $grid-gutter 0 $grid-gutter / 2;
    }

    a{
        color: theme-color(white);
        text-decoration: underline;

        &:hover{
            color: theme-color(yellow);
        }
    }
}

#partners{
    .wrap{
        

        img{
            margin-bottom: $grid-gutter;
            width: 200px;
        }

        @include media-breakpoint-up(lg){
            display: flex;
            justify-content: center;

            img{
                margin: 0 $grid-gutter;
            }
        }
    }
}