.banner .nav {
  a {
    @extend .nav-link;
  }

  li {
    @extend .nav-item;
  }
}

.banner{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  padding: $grid-gutter / 2;
  text-align: center;
  z-index: 99;

  img{
    max-width: 150px;
  }
}
