.error404{
    & > .wrap{
        margin-top: $grid-gutter * 3;
    }
}

.home{
    #videos{
        .container{
            max-width: none;
        }
    }
    .state{
        background-color: theme-color(yellow);
        color: theme-color(purple);
        text-align: center;

        .wrap{
            padding: $grid-gutter 20px;
        }

        a{
            display: inline-block;

            &:hover{
                text-decoration: none;

                img{
                    transform: scale(1.1);
                }
            }
        }

        img{
            width: 100%;
            max-width: 300px;
            height: auto;
            margin: 0 auto $grid-gutter / 2;
            transition: .25s;
        }

        @include media-breakpoint-up(md){
            padding-top: $grid-gutter * 2;
        }
        
        @include media-breakpoint-up(lg){
            height: 100vh;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding-top: 0;
        }

        &.arizona{
            background-color: theme-color(purple);
            padding-top: $grid-gutter * 2;

            @include media-breakpoint-up(lg){
                padding-top: 0;
            }

            a{
                color: theme-color(pink);
            }
        }
        
        &.florida{
            background-color: theme-color(pink);
            color: theme-color(yellow);
        }

        h3{
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 0;
        }

        h6{
            color: theme-color(white);
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }

    #mainContent{
        .wp-block-columns{
            @extend .container;
            margin-bottom: 0;

            .wp-block-column{
                display: flex;
                flex-flow: column;
                justify-content: center;

                &:last-child{
                    justify-content: flex-end;
                }

                h3{
                    color: theme-color(red);
                    margin-top: $grid-gutter;
                }

                .wp-block-image{
                    padding-top: $grid-gutter;
                    margin-bottom: 0;
                }
            }
        }

        .wp-block-group{
            background-image: url('../images/landscape.jpg');
            background-color: theme-color(black);
            background-size: cover;
            color: theme-color(white);
            padding: $grid-gutter * 2 0;
            text-align: center;
            
            .wp-block-group__inner-container{
                @extend .container;
            }
            
            @include media-breakpoint-up(lg){
                padding: $grid-gutter * 4 0;
            }
        }
    }
}