.single{
    article{
        margin-bottom: $grid-gutter;

        h1{
            color: theme-color(red);
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    #player{
        margin: $grid-gutter * 3 0 $grid-gutter;
        height: 0;
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;
        background: theme-color(black);

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 100%;
            max-width: 100%;
            width: auto;
            transition: 1s;
            cursor: pointer;
        }

        &.hover{
            img{
                opacity: .8;
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
        
        .play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            // Spin animation
            @keyframes spin {
                to { transform: rotate(360deg); }
            }
            
            .stroke-solid {
                stroke-dashoffset: 0;
                stroke-dashArray: 300;
                stroke-width: 4px;
                transition: stroke-dashoffset 1s ease, 
                            opacity 1s ease;
            }
            
            .icon {
                transform: scale(.8);
                transform-origin: 50% 50%;
                transition: transform 200ms ease-out;
            }
            
            // Hover
            #play:hover {
                .stroke-solid {
                opacity: 1;
                stroke-dashoffset: 300;
                }
                .icon {
                transform: scale(.9);
                }
            }
        }

        .video{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            

            iframe{
                width: 100%;
                height: 100%;
            }
        }

        &.active{
            .play,
            img{
                display: none;
            }
            .video{
                display: block;
            }
        }
    }
}